@model IEnumerable<Projeto03.ProjetoMVC.Models.Produto>
@{
    ViewData["Title"] = "Lista de Produtos";
}

<h2>Produos Disponíveis</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produto in Model)
        {

            <tr>
                <td>@produto.Id</td>
                <td>@produto.Nome</td>
                <td>@produto.Preco</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@produto.Id">Editar</a>
                    <a asp-action="Excluir" asp-route-id="@produto.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br/> 
<a asp-action="Create" class="btn btn-primary">Adicionar Produto</a>

